<!-- desktop navbar -->

<div class="desktopNavbar">
    <ul>
        <li><a href="..\">ចុះ​ឈ្មោះ</a></li>
        <li><a href="..\droughtInformation">ព័ត៌មានអំពីគ្រោះរាំងស្ងួត</a></li>
        <li><a href="..\floodInformation">ព័ត៌មានទឹកជំនន់</a></li>
        <li><a href="..\typhoonInformation">ព័ត៌មានអំពីព្យុះទីហ្វុង</a></li>
        <li><a href="..\helpGuide">ជំនួយ</a></li>
    </ul>
</div>