<!-- Mobile Navbar -->

<div class="topbar">
    <div class="hamburger" onclick="hamburgerAnimation(this)">
        <div id="bar1"></div>
        <div id="bar2"></div>
        <div id="bar3"></div>
    </div>
</div>

<div class="navbar">
    <ul class="page-links">
        <li><a href="..\">ចុះ​ឈ្មោះ</a></li>
        <li><a href="..\droughtInformation">ព័ត៌មានអំពីគ្រោះរាំងស្ងួត</a></li>
        <li><a href="..\floodInformation">ព័ត៌មានទឹកជំនន់</a></li>
        <li><a href="..\typhoonInformation">ព័ត៌មានអំពីព្យុះទីហ្វុង</a></li>
        <li><a href="..\helpGuide">ជំនួយ</a></li>
    </ul>
</div>









