<%- include('partials/layout') %>

<body>
    <%- include('partials/navbar') %>
    <%- include('partials/desktopNavbar') %>
    <div class="content-div">
        <h1>ព័ត៌មានអំពីគ្រោះរាំងស្ងួត</h1>
        <div class="khmer">
            <h3>តើធ្វើដូចម្តេចដើម្បីរៀបចំ</h3>
            <br>
            <h4>ពីមុន</h4>
            <br>
            <p>
                1. ស្វែងយល់អំពីការអនុវត្តកសិកម្មកាត់បន្ថយគ្រោះរាំងស្ងួត ដូចជាការជីកដី ការគ្រប់គ្រងស្មៅ ប្រតិបត្តិការអន្តរវប្បធម៌ជាដើម។
                <br><br>
                2. រៀបចំប្រព័ន្ធប្រមូលផលទឹកភ្លៀង ឧ. ស្រះកសិកម្ម អាងសហគមន៍ ទីជម្រកទឹក និងអាងទឹក។
            </p>
            <br><br>
            <h4>កំឡុងពេល</h4>
            <br>
            <p>
                1. ប្រើធុងសម្រាប់ងូតទឹក
                <br><br>
                2. ជៀសវាងការប្រើបង្គន់ (ដើម្បីជៀសវាងការប្រើទឹកលើស)
                <br><br>
                3. ត្រួតពិនិត្យធុងទឹក និងម៉ាស៊ីនជាប្រចាំដើម្បីការពារការលេចធ្លាយ
                <br><br>
                4. ប្រើទឹកឡើងវិញឱ្យបានច្រើនតាមដែលអាចធ្វើទៅបាន។
                <br><br>
                5. កុំកាប់ដើមឈើឬព្រៃឈើ
                <br><br>
                6. ប្រមូលទឹកភ្លៀងដែលប្រមូលបាននៅលើដំបូលជាមួយនឹងប្រព័ន្ធធារាសាស្រ្តដែលបានរៀបចំ
                <br><br>
                7. ជៀសវាងការប្រើទឹកហូរសម្រាប់ដុសធ្មេញ កោរសក់ បោកគក់។ល។
                <br><br>
                8. ជំរុញដំណាំដែលមានរយៈពេលខ្លី និងត្រូវការទឹកតិចតួច។
                <br><br>
                9. ដកស្មៅចេញពីវាលស្រែ ព្រោះអាចប្រើសម្រាប់ធ្វើស្មៅ (ដើម្បីជៀសវាងការបាត់បង់ទឹក)
                <br><br>
                10. ផ្តល់អាទិភាពដល់ការប្រមូលផលទឹកភ្លៀង
            </p>
        </div>
        <div id="google_translate_element"></div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'km'}, 'google_translate_element');
            }
            </script>
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
    </div>
</body>