<%- include('partials/layout') %>

<body>
    <%- include('partials/navbar') %>
    <%- include('partials/desktopNavbar') %>
    <div class="content-div">
        <h1>ព័ត៌មានទឹកជំនន់</h1>
        <div class="khmer">
            <h3>តើធ្វើដូចម្តេចដើម្បីរៀបចំ</h3>
            <br>
            <h4>ពីមុន</h4>
            <br>
            <p>
                1. ស្វែងយល់ពីរបៀបបិទទឹក ឧស្ម័ន និងអគ្គិសនី
                <br><br>
                2. ថតរូបលម្អិតអំពីទ្រព្យសម្បត្តិមុនពេលទឹកជំនន់បានកើតឡើង
                <br><br>
                3. ត្រូវរៀបចំឧបករណ៍ទឹកជំនន់សង្គ្រោះបន្ទាន់មុនពេលទឹកជំនន់ នេះគួររួមបញ្ចូលៈ
                    ហិរញ្ញវត្ថុ ជំនួយសង្គ្រោះបឋម ឱសថតាមវេជ្ជបញ្ជា ឯកសារសំខាន់ៗ អាហារដែលមិនអាចបំផ្លាញបាន ទឹកដប សម្លៀកបំពាក់ស្ងួត
            </p>
            <br><br>
            <h4>កំឡុងពេល</h4>
            <br>
            <p>
                1. ប្រសិនបើទឹកត្រូវបានបំពុលដោយទឹកស្អុយ សូមអនុវត្តតាមពិធីការដូចខាងក្រោមៈ
                <br><br>
                2. ពាក់មដកៅស៊ូ និងស្បែកជើងកវែង
                <br><br>
                3. លាងជម្រះស្នាមរបួសទាំងអស់ដោយទឹកស្អាត ហើយគ្របដោយម្នាងសិលាមិនជ្រាបទឹក។
                <br><br>
                4. កុមារតូចៗ ស្ត្រីមានផ្ទៃពោះ និងអ្នកដែលមានបញ្ហាផ្នែកវេជ្ជសាស្ត្រ គួរតែជៀសវាងតំបន់ដែលមានទឹកជំនន់ខ្លាំង រហូតដល់ការសម្អាតរួចរាល់។
                <br><br>
                5. ពិគ្រោះជាមួយវេជ្ជបណ្ឌិត ប្រសិនបើអ្នកលេបទឹកដែលមានមេរោគ ហើយចាប់ផ្តើមឈឺ
                <br><br>
                6. មុនពេលចូលទៅក្នុងអគារមួយ ពិនិត្យមើលសញ្ញានៃការខូចខាត
                <br><br>
                7. កុំព្យាយាមផ្លាស់ទីកំទេចកំទីដែលអ្នកមិនអាចផ្លាស់ទីដោយមិនស្រួល
                <br><br>
                8. ត្រូវដឹងអំពីគ្រោះថ្នាក់លាក់កំបាំងដែលអាចកើតមាននៅក្នុងតំបន់លិចទឹក ឧ. វត្ថុមុតស្រួច រន្ធ។
            </p>
        </div>
        <div id="google_translate_element"></div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'km'}, 'google_translate_element');
            }
            </script>
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
    </div>
    </div>
</body>