<%- include('partials/layout') %>

<body>
    <%- include('partials/navbar') %>
    <%- include('partials/desktopNavbar') %>
    <div class="content-div">
        <h1>ជំនួយ</h1>
        <div class="khmer">
            <h3>ចុះឈ្មោះដើម្បីទទួលបានការជូនដំណឹងអំពីអាកាសធាតុ</h3>
            <p>
                <br>
                បញ្ចូលលេខទូរស័ព្ទ ឬអ៊ីមែលរបស់អ្នកក្នុងទម្រង់ចុះឈ្មោះ ឬផ្ញើសារ OPT IN ទៅកាន់ 12345
                <br><br>
                អ្នកនឹងទទួលបានការជូនដំណឹងនៅពេលដែលគ្រោះមហន្តរាយធម្មជាតិត្រូវបានរំពឹងទុក។
                <br><br>
                ដើម្បីបញ្ឈប់ការទទួលការជូនដំណឹង សូមផ្ញើសារ OPTOUT ទៅកាន់លេខ 12345

            </p>
        </div>
        <div id="google_translate_element"></div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'km'}, 'google_translate_element');
            }
            </script>
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
    </div>
</body>