<%- include('partials/layout') %>

<body>
    <%- include('partials/navbar') %>
    <%- include('partials/desktopNavbar') %>
    <div class="content-div">
        <h1>ព័ត៌មានអំពីព្យុះទីហ្វុង</h1>
        <div class="khmer">
            <h3>របៀបរៀបចំ</h3>
            <br>
            <h4>ពីមុន</h4>
            <p>
                <br>
                1. កំណត់ផ្លូវជម្លៀសដោយសុវត្ថិភាព និងបង្កើតកន្លែងប្រជុំដែលបានកំណត់ ក្នុងករណីដែលសមាជិកគ្រួសារបែកគ្នា
                <br><br>
                2. បង្កើតថង់ខ្យល់ព្យុះដែលមានអាហារត្រៀមរួចជាស្រេច ទឹកដប ឧបករណ៍សង្គ្រោះបឋម វិទ្យុ សំលៀកបំពាក់ស្អាត ឯកសារសំខាន់ៗ របាំងមុខ
                <br><br>
                3. ធានាផ្ទះរបស់អ្នកដោយការពង្រឹងចំនុចខ្សោយ (បង្អួច ទ្វារ)។ ផ្លាស់ទីវត្ថុរលុងក្នុងផ្ទះ ដើម្បីការពារកុំឱ្យវាក្លាយជាគ្រាប់ផ្លោងដែលមានគ្រោះថ្នាក់
                <br><br>
                4. ត្រូវប្រាកដថាឧបករណ៍អេឡិចត្រូនិចទាំងអស់ត្រូវបានសាកពេញមុនពេលព្យុះទីហ្វុងវាយប្រហារ
                <br><br>
                5. ពិចារណាពីការជម្លៀសទៅកាន់ទីទួលខ្ពស់ ប្រសិនបើអ្នករស់នៅក្នុងតំបន់ទំនាប

            </p>
            <br><br>
            <h4>កំឡុងពេល</h4>
            <br>
            <p>
                1. ជៀសវាងតំបន់គ្រោះថ្នាក់ ឧ. តំបន់ទំនាប និងងាយនឹងទឹកជំនន់។ ជៀសវាងទន្លេ អូរ និងតំបន់ឆ្នេរ (វាងាយនឹងទឹកជំនន់ភ្លាមៗ និងចរន្តគ្រោះថ្នាក់)
                <br><br>
                2. ស្វែងរកកន្លែងសុវត្ថិភាព និងសុវត្ថិភាពសម្រាប់ជំរក។ នៅឱ្យឆ្ងាយពីបង្អួចដែលមិនទាន់បានបើក ព្រោះវាអាចបែកខ្ទេច ដោយសារខ្យល់បក់ខ្លាំង និងកំទេចកំទីហោះ
                <br><br>
                3. រក្សាភ្នែកលើការអាប់ដេតអាកាសធាតុតាមរយៈវិទ្យុ/ទូរស័ព្ទ
                <br><br>
                4. ធានាថាអ្នកមានភាពស្ងប់ស្ងាត់ និងមានផាសុកភាព។ 
                <br><br>
                5. ចូលរួមក្នុងហ្គេមក្តារ ឬសកម្មភាពផ្សេងទៀតដើម្បីបង្វែរអារម្មណ៍ពីបរិយាកាសស្ត្រេស

            </p>
        </div>
        <div id="google_translate_element"></div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'km'}, 'google_translate_element');
            }
            </script>
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
    </div>
    </div>
</body>